<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Descarga tu ebook gratuito</title>
</head>
<body>
  <h1>¡Hola <%= name %>!</h1>
  <p>Gracias por registrarte para recibir nuestras actualizaciones de nutrición y fitness. Como agradecimiento, nos complace ofrecerte un ebook completamente gratuito que contiene información valiosa y consejos prácticos para ayudarte a alcanzar tus metas de salud y bienestar.</p>
  
  <h2>Ebook: Nutrición y Fitness para una vida saludable</h2>
  <p>En nuestro ebook encontrarás una guía completa que cubre diversos temas relacionados con la nutrición y el fitness, diseñada para brindarte los conocimientos necesarios para tomar decisiones informadas sobre tu alimentación y lograr un estilo de vida activo.</p>
  
  <h3>Contenido destacado:</h3>
  <ol>
    <li>Fundamentos de la nutrición</li>
    <li>Planificación de comidas saludables</li>
    <li>Suplementos nutricionales</li>
    <li>Rutinas de ejercicio efectivas</li>
    <li>Gestión del peso</li>
  </ol>
  
  <p>Para descargar tu copia gratuita del ebook "Nutrición y Fitness para una vida saludable", simplemente haz clic en el siguiente enlace: <a href="https://storage.googleapis.com/virtual-fitness-coach-2103.appspot.com/workout.pdf?GoogleAccessId=service-1004576734566@gcp-sa-firebasestorage.iam.gserviceaccount.com&Expires=1689169073&Signature=gB5NyT568UnsTy4J2Gm9z7Gs5HZH9q5/PcHbHolaoijnHLeE37NxiWd6Y3mL7125Sk4xb3zDkInoP%2B4/DfefD0S7JeaRewAcgi83Urz2soOhVqfAP6iPXeM9lzE%2BugoG3355OVFGQ5eZ1uB/y6dOfL8Pey1YhHG%2BiTIkNkCTnCYjJc43OhrtMJAem5OIP9uriJ37jpFqaaBwFTUFDQuQtS1HgjJcNZh6TzxL1%2Bk7Syf%2Bv0Edcro3SCKZEgH3rKu8LVQzYGaQCMAqhUtfizgAxwOxMcYjHr1UP0kiNGsDCQqGOg4FpTxMZYQP8eeByojFQQ3nJxUvnPhGxTLE5ULzpw%3D%3D">Descargar Ebook</a>.</p>
  
  <p>Además, te invitamos a seguir conectado con nosotros a través de nuestro boletín mensual, donde recibirás consejos actualizados, recetas saludables y novedades relacionadas con el mundo de la nutrición y el fitness.</p>
  
  <p>¡Esperamos que disfrutes de nuestro ebook y que te sea de gran utilidad en tu camino hacia una vida saludable!</p>
  
  <p>Saludos saludables,</p>
  <p>[Tu nombre o nombre de la empresa]</p>
</body>
</html>